
@font-face {
  font-family: 'DanielDavis';
  src: url('../fonts/davis/DanielDavis.eot');
  src: url('../fonts/davis/DanielDavis.eot') format('embedded-opentype'),
       url('../fonts/davis/DanielDavis.woff2') format('woff2'),
       url('../fonts/davis/DanielDavis.woff') format('woff'),
       url('../fonts/davis/DanielDavis.ttf') format('truetype'),
       url('../fonts/davis/DanielDavis.svg#DanielDavis') format('svg');
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icons/icomoon.eot?x0hdw2');
  src:  url('../fonts/icons/icomoon.eot?x0hdw2#iefix') format('embedded-opentype'),
    url('../fonts/icons/icomoon.ttf?x0hdw2') format('truetype'),
    url('../fonts/icons/icomoon.woff?x0hdw2') format('woff'),
    url('../fonts/icons/icomoon.svg?x0hdw2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'RobotoSlab';
  src:  url('../fonts/roboto/RobotoSlab-Regular.ttf');
  src:  url('../fonts/roboto/RobotoSlab-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github-brands:before {
  content: "\e900";
}
.icon-linkedin-brands:before {
  content: "\e901";
}