@import url(./assets/style/font.scss);

body {
  margin: 0;
  // background: #212121;
  background: rgb(87, 86, 86);
}

$squarAmountPerSideDesktop: 20;
$squarAmountPerSideMobile: 5;

#main-banner-area {
  background: #2f2f2f;
  width: 100vw;
  height: 100vh;
  perspective: 400px;
  overflow: hidden;

  display: flex;
  flex-wrap: wrap;
  filter: blur(1px);

  .animation-box {
    height: calc(100vw/ #{$squarAmountPerSideMobile});
    width: calc(100vw/ #{$squarAmountPerSideMobile});
    background: #212121;
    outline: 0.5px solid #131212;
    transition: all ease-in 0.3s;

    @media screen 
    and (min-device-width: 811px) {
      height: calc(100vw/ #{$squarAmountPerSideDesktop});
      width: calc(100vw/ #{$squarAmountPerSideDesktop});
    } 

    &:hover {
      // transform: rotateY(10deg);
      transform: scale(1.05);
      outline: 0.1px solid #131212b5;
    }
  
  }
}

.greet-wrapper {
  position: absolute;
  right: 2rem;
  top: 25%;
  text-align: right;

  p {
    font-family: 'DanielDavis';
    margin: 0;
  }
  
  .greet-greet {
    font-size: 5rem;
    color: white;
    letter-spacing: 0.5rem;
    display: inline;

    @media screen 
    and (min-device-width: 1200px) {
      font-size: 10rem;
      letter-spacing: 1rem;
    } 
  }
  .greet-hand {
    font-style: normal;
    font-size: 5rem;
    display: inline-block;
    margin-right: 4rem;
    // animation: 3s ease-in infinite wave;
    animation: wave;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    transform-origin: 80% 80%;

    @media screen 
    and (min-device-width: 1200px) {
      font-size: 7rem;
    } 
  }
  .greet-name {
    font-size: 5rem;
    color: white;
    letter-spacing: 0.5rem;
    margin-bottom: 1rem;
    
    @media screen 
    and (min-device-width: 1200px) {
      font-size: 10rem;
      letter-spacing: 1rem;
    } 
  }

  .greet-profession {
    font-family: 'RobotoSlab', serif;;
    font-size: 1rem;
    color: white;
    letter-spacing: 0.5rem;
    margin-bottom: 1rem;

    @media screen 
    and (min-device-width: 1200px) {
      font-size: 2rem;
      letter-spacing: 1rem;
    } 
  }

  .reach-holder {
    div {
      cursor: pointer;
      padding: 0.5rem;
      height: fit-content;
    }
    a {
      text-decoration: none;
      color: white;
      font-family: 'RobotoSlab', serif;
      font-size: 0.8rem;
      letter-spacing: 0.1rem;
    }
    .brand-box  {
      width: fit-content;
      border-radius: 0.5rem;
      line-height: 1rem;
      display: inline-block;
      margin-right: 1rem;
    }
    .linked-in {
      background: #0a66c2;

    }
    .github {
      background: black;
    }
  }
}

// @keyframes wave {
//   0 {
//     transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
//   }
//   20% {
//     transform: rotateX(45deg) rotateY(-25deg) rotateZ(-15deg);
//   }
//   40% {
//     transform: rotateX(0deg) rotateZ(0deg) rotateZ(0deg);
//   }
//   60% {
//     transform: rotateX(45deg) rotateY(-25deg) rotateZ(-15deg);
//   }
//   80% {
//     transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
//   }
//   100% {
//     transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
//   } 
// }

@keyframes wave {
  0 {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(45deg);
  }
  40% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(45deg);
  }
  80% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  } 
}